# Frontend Environment Variables (Vercel)
VITE_API_URL=https://koba-backend-only-k8vt.onrender.com
VITE_GOOGLE_CLIENT_ID=445338583811-0gknu3ni8fn9mh3pa874agtu61i29tvr.apps.googleusercontent.com
VITE_ENABLE_LOCAL_GOOGLE_AUTH=false
VITE_APP_NAME=Queen Koba
VITE_APP_VERSION=1.0.0

# Backend Environment Variables (Render PostgreSQL)
DATABASE_URL=postgresql://queenkoba_db_53bf_user:mFE0gvRyJMYjcqPaqWHAXRJuekqT2LU1@dpg-d9ouv0u7bikc73846kp0-a/queenkoba_db_53bf
EXTERNAL_DATABASE_URL=postgresql://queenkoba_db_53bf_user:mFE0gvRyJMYjcqPaqWHAXRJuekqT2LU1@dpg-d9ouv0u7bikc73846kp0-a.virginia-postgres.render.com/queenkoba_db_53bf

# Safaricom M-Pesa Production Config
M_PESA_ENV=production
M_PESA_APP_NAME=Prod-Walche Commodity Traders Ltd-1773395059343
M_PESA_CONSUMER_KEY=eZk6yOsCInRJHkvAc4bselyVjgVZbXuABGHKgU4SaZrkAmSy
M_PESA_CONSUMER_SECRET=BqJY7s3al5Sa7LCcSGDwsUHZ7ipSbqpvuIi2ZCensBN1NBlUumMdcfDB2A41Msfw
M_PESA_PASSKEY=8e10ea8595b5cc6a555ad8d3f6436f852898258a5647cd927a10e15359d7634b
M_PESA_SHORTCODE=4152819
M_PESA_CALLBACK_URL=https://koba-backend-only-k8vt.onrender.com/payments/mpesa/callback

# CORS & Server Origins
FRONTEND_URL=https://queenkoba.vercel.app
ADMIN_URL=https://queenkoba-admin.vercel.app
